PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME="blessings"
DB_PASSWORD="2745"
DB_DATABASE=student-db
DB_SYNCHRONIZE=true
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1h
ADMIN_FIRST_NAME=blessings
ADMIN_LAST_NAME=network
ADMIN_EMAIL=nthandizi@unima.ac.mw
ADMIN_PASSWORD=nthandi@1
ADMIN_UNIVERSITY=chanco
# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mthandizi04@gmail.com
SMTP_PASSWORD=wrsj sipd hbsq dnyc

# Frontend URL
FRONTEND_URL=http://localhost:3000
